.menu {
    margin-right: auto;
    background-color: #323232;
    align-items: center;
    display: flex;
}

.menu ul {
    padding-top: 0.5rem;
}

.menu li {
    list-style-type: none;
    display: inline-flex;
    padding: 0.4rem;
    color: lightgrey;
    font-family: 'Lato', sans-serif;
}

.menu li a {
    color: lightgrey;
    text-decoration: none;
}

.menu li a:hover {
    transform: scale(1.1);
    transition: 0.3s;
    color: red;
}