.menu {
    margin-right: auto;
    background-color: #323232;
    align-items: center;
    display: flex;
}

.menu ul {
    padding-top: 0.5rem;
}

.menu li {
    list-style-type: none;
    display: inline-flex;
    padding: 0.4rem;
    color: lightgrey;
    font-family: 'Lato', sans-serif;
}

.menu li a {
    color: lightgrey;
    text-decoration: none;
}

.menu li a:hover {
    transform: scale(1.1);
    transition: 0.3s;
    color: red;
}

@media screen and (min-width: 1400px) {
    .menu {
        margin-right: 20%;
        margin-left: 20%;
    }
}

@media screen and (max-width: 650px) {
    .menu {
        display: inline-block;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;
    }

    .menu ul {
        padding-left: 0;
    }
}